<!-- Intro Page that explains whats going on -->
<!-- Has the user pick the stock that they will be running
 -->
<!-- http://albertosantini.github.io/ -->

<!DOCTYPE html>
<html>
  <head>
      <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
      <%= javascript_include_tag 'application' %>
  </head>
  <body>
  	<div id="text">Enter a company in the StockBot, follow the steps, and get a customized stock quote. <br /><br />  Try it now, Hal ...</div>
    <img class="stockbot" src=<%=asset_path "stockbot.png"%> />
    <form method="POST" action="/stocks/picker" onkeypress="return event.keyCode != 13;">
      <button type="submit" class="bubble">Submit!</button>
      <input type="text" class="front_page" id="ac-input" placeholder="Input Your Stock!" name="stock_tbd"></input>
      <input type='hidden' id='hiddenField' name='stock_symbol' value=''/></input>
    </form>
   </body>
</html>
