<!-- Intro Page that explains whats going on -->
<!-- Has the user pick the stock that they will be running
 -->
<!-- http://albertosantini.github.io/ -->

<!DOCTYPE html>
<html>
    <head>
        <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
        <%= javascript_include_tag 'application' %>
    </head>
    <body>
    	<h1>Hello!</h1>
        <p>Try typing a name of an asset: yahoo, ibm, oracle, etc.</p>
        
        <form method="POST" action="/stocks/picker">
            <label for="ac-input">Enter an asset (for instance, YAHOO):</label><br>
            <input id="ac-input" style="width: 500px;" type="text" name="stock_tbd"><br /><br />
            <input type="submit" value="Submit" > 
        </form>

    </body>
</html>
