body class="index"
  div id="text"
    |
      Enter a company in the StockBot, follow the steps, and get a customized stock quote. 
    br
    br
      |
        Try it now, Hal ...
  img class="stockbot" src==asset_path('stockbot.png')
  div class="container_form"
    form method="POST" action="/stocks/picker" onkeypress="return event.keyCode != 13;"
      button name="Submit" type="submit" class="bubble"
        |
          Submit!
      input type="text" class="front_page" id="ac-input" placeholder="Input A Stock!" name="stock_tbd"  onkeydown="hideButtonFunction()"
      input type='hidden' id='hiddenField' name='stock_symbol' value=''
