<!-- Actually run them through the stock picking process -->
<!-- http://developer.yahoo.com/yui/autocomplete/ -->
<!-- http://stackoverflow.com/questions/9191920/jquery-autocomplete-and-yahoo-finance -->

<h2>Customize Your Stock Quote</h2>

<p><%= @stock_ticker_symbol %></p>

<%= params %>