<!-- Actually run them through the stock picking process -->
<!-- http://developer.yahoo.com/yui/autocomplete/ -->
<!-- http://stackoverflow.com/questions/9191920/jquery-autocomplete-and-yahoo-finance -->

<h2>Customize Your Stock Quote</h2>

<h3>You selected: <%= @stock_proper_name %> (<%= @stock_symbol_name %>)</h3>

The market values this stock at: <strong><%= get_stock_prices(@stock_symbol_name) %></strong>

<br /><br />

We value this stock at: <strong><%= Stock.get_stock_prices(@stock_symbol_name) %></strong>

<br /><br />

What do you think the stock is worth?  Take the test below and submit your results to get your customized stock price. 
