<!-- Display the results -->

<h2> Stock Prices</h2>

The market values this stock at: <strong><%= get_stock_prices(@mod_stock_symbol) %></strong>

<br /><br />

You value <strong><%= @mod_stock_name %></strong> stock at: <%= @mod_stock_value %>